.Hamburger div {
  background-color: rgb(209, 209, 209);
}
.Hamburger:hover div{
  background-color: #05fbff;
}

.HamLinks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 110px;
  flex-direction: column;
  align-items: center;
}

.HamLinks a {
  color: rgb(209, 209, 209);
}

.HamLinks a:hover {
  color: #05fbff;
}

@media (min-width: 992px){
  .Hamburger {
    display: none;
  }

  .HamLinks {
    transform: translateY(0)!important;
    min-height: 0;
    padding: 0;
    flex-direction: row;
    /* margin-left: auto; */
    width: auto;
    position: relative;
  }
  .HamLinks a{
    margin: 0 15px;
  }
}
