.FormBox {
  max-width: 95%;
}

.form-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(209, 209, 209);
}

.form-button:hover {
  color: #05fbff;
  border: 1px solid #05fbff;
  background-color: rgba(5, 251, 255, 0.01);
}

.error {
  background-color: #ff9589;
  border: 1px solid #ff3d3b !important;
}

/* color box */
.rc-color-picker-wrap span{
  width: 100%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  min-height: 30px;
}

/* date picker */
.react-datepicker__input-container, .react-datepicker-wrapper, .react-datepicker-wrapper input {
  width: 100%;
  min-height: 30px;
}
.react-datepicker__time-list, .react-datepicker__time-list-item {
  padding: 0 !important;
}

.react-datepicker-wrapper input {
  outline: none;
  min-height: 30px;
  margin-top: 0px;
  border: 1px solid rgb(221, 221, 221);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-appearance: none;
}


@media (min-width: 768px) {
    .FormBox {
        max-width: 85%;
    }
}

@media (min-width: 995px) {
    .FormBox {
        max-width: 65%;
    }
}

/* TODO add shake for when submit has error */
